<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="xyz.aethersx2.android" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:hasFragileUserData="true" android:icon="@mipmap/ic_launcher" android:label="NetherSX2" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <activity android:exported="false" android:label="@string/save_state_manager_title" android:name="xyz.aethersx2.android.SaveStateManagerActivity" android:theme="@style/AppTheme"/>
        <activity android:exported="false" android:label="@string/memory_card_create_title" android:name="xyz.aethersx2.android.CreateMemoryCardActivity" android:theme="@style/AppTheme"/>
        <activity android:exported="false" android:name="xyz.aethersx2.android.FileEditorActivity" android:theme="@style/AppTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize" android:exported="false" android:label="@string/title_activity_setup_wizard" android:name="xyz.aethersx2.android.SetupWizardActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize" android:label="@string/title_activity_settings" android:name="xyz.aethersx2.android.SettingsActivity" android:theme="@style/AppTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="xyz.aethersx2.android.MainActivity"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize" android:label="@string/title_activity_settings" android:name="xyz.aethersx2.android.ControllerSettingsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="xyz.aethersx2.android.MainActivity"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize" android:label="@string/title_activity_game_properties" android:name="xyz.aethersx2.android.GamePropertiesActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="xyz.aethersx2.android.MainActivity"/>
        </activity>
        <activity android:alwaysRetainTaskState="true" android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode" android:exported="true" android:immersive="true" android:label="NetherSX2" android:name="xyz.aethersx2.android.EmulationActivity" android:parentActivityName="xyz.aethersx2.android.MainActivity" android:theme="@style/AppTheme.EmulationActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="xyz.aethersx2.android.MainActivity"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize" android:exported="true" android:label="NetherSX2" android:name="xyz.aethersx2.android.MainActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:authorities="xyz.aethersx2.android.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:value="@xml/splits0"/>
    </application>
</manifest>